/*
===============
Header Styling
===============
*/

.jumbotron {
    margin-top: 32px;
    padding: 18px !important;
    border: solid lightgray 1px;
    background-color: #008a35;
}

/*
==================
Body Styling
==================
*/

#search-text {
    display: none;
}

#search-city {
    background-color: #008a35;
    border-color: #008a35;
}

.big-icon {
    vertical-align: top; 
    line-height: 125px;
}

.label {
    line-height: 24px;
}

/*
==================
Forecast Styling
==================
*/

.forecast {
    padding: 20px 10px !important;
    height: 12em;
    box-shadow: 6px 6px 4px grey;
}

.fcast-1 {
    background-color: #005822;
}

.fcast-2 {
    background-color: #00722c;
}

.fcast-3 {
    background-color: #008a35;
}

.fcast-4 {
    background-color: #00ac42;
}

.fcast-5 {
    background-color: #00c94d;
}

.ficons {
    font-size: 2rem;
    padding: 10px;
    margin-bottom: 10px;
}

.ftext {
    font-size: 2rem;
    margin-bottom: 10px;
}

.flex-row small {
    font-size: 12px !important;
}

.flex-row i {
    font-size: 20px !important;
    line-height: 24px;
}

/*
=================
Media Styling
=================
*/

@media screen and (max-width: 991px) {
    #search-text {
        display: inline;
    }
}

@media screen and (max-width: 767px) {
    .display {
        justify-content: space-between !important;
    }

    .forecast {
        margin-bottom: 20px;
        border-radius: 4px;
    }

    .unsquish {
        justify-content: center !important;
        flex-wrap: wrap !important;
    }
    
    .flex-row i {
        text-align: center;
        font-size: 32px !important;
        margin-bottom: 8px;
        padding: 0px 8px;
    }

    .temp {
        font-size: 8rem;
    }

    .big-icon {
        vertical-align: bottom; 
        line-height: auto;
        font-size: 5rem;
    }
}