.textDec {
    color: white;
}

.searchBox {
    background-color: rgb(230, 230, 230);
    padding: 10px 20px 10px 10px;
}

.uvIndex {
    padding: 5px;
}

.daySize {
    box-sizing: border-box;
    width: 20%;
    margin: 0px;
    padding: 5px;
    
}

.forecast {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}

#searchBtn{
    padding: 6px 5px 0px 5px;

}